*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: lightgoldenrodyellow;
    color: #333;
    padding: 20px;
}
body{
    background-color: lightgoldenrodyellow;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: grey;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.logo{
    box-sizing: border-box;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    img{
        width: 100%;
        height: auto;
    };
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    font-size: 25px;
    margin-right: 25px;
    text-decoration: none;
    
}
nav a{
    font-size: 25px;
    margin-right: 25px;
}
nav a:hover{
    color: darkorange;
    transform: scale(1.1);

}

 
h2,h3{
    text-align: center;
}
p{
    text-align: center;
}
.brevan a{
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}

