*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:lightgoldenrodyellow;
    color: #333;
    padding: 20px;
}
.logo{
    box-sizing: border-box;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    img{
        width: 100%;
        height: auto;
    };
}
.navbar{
      display: flex;
    align-items: center;
    background-color: grey;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
body{
    background-color: lightgoldenrodyellow;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    font-size: 25px;
    margin-right: 25px;
}
button{
    background-color: chartreuse;
    text-decoration-color: #fff;
    text-shadow: #fff;
}
nav a{
    font-size: 25px;
    margin-right: 25px;
    text-decoration: none;
    
}
nav a{
    font-size: 25px;
    margin-right: 25px;
}
nav a:hover{
    color: darkorange;
    transform: scale(1.1);

}
footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}